
   <br/><br/>
    <%= link_to 'Add an Album', new_album_path, class: 'ml-5 btn btn-primary'  %>
    <h6 >&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Note:  Click on Album Title to View </h6>            

    <div class="container booyah-box">    
    <br/><br/>
        <div class="row">
            <% @albums.each do |album| %>
                <div class="album">
                    <div class="album-details">
                        <br/>
                        <h4>"<%= link_to( album.name, album_path(album)) %>"</h4>
                        <br/>
                        <% if album.location.present? %>
                            <%= album.location.name %><br/>
                        <% end %>
                        <%= album.startDate%> - 
                        <%= album.endDate%><br/>
                        <% if album.people %>
                            <% album.people.each do |person| %>
                                <%= person.lastName %>, <%= person.firstName %> <br/>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="clear" ></div>

<%# <div class="apple_pagination">
  <div class="page_info">
    <%# <%= page_entries_info @tasks %>
  <%# </div>
  <%= will_paginate @tasks, :container => false %>
<%# </div>  %>