<script>
  
  $(function() {
    var select_value = $('#location_collection').val();
    $('#location_id').val(select_value);
     console.log(select_value );
       console.log("default" );
    $(document).on('change','#location_collection', function(){
       var select_value = $(this).val();
       $('#location_id').val(select_value);
     });
    
  });
</script>
<h1> Edit Your Photo </h1><br />
<%= simple_form_for @photo do |f| %>
    <div class="booyah-box col-10 offset-1 ml-5">
    
        <div class="container ">
            <br/>
            <%= link_to(image_tag(url_for(@photo.picture.url), class: "medium-image", title: @photo.caption), 
                url_for(@photo.picture.url),
                data: { lightbox: "example-set", title: @photo.caption, }) %>  <br/>
        
                <div class="row">
                    <div class="entry-box">
                        <br /><br />
                        Enter Caption <br />
                        <%= f.text_field :caption %><br /><br />
                        Enter <%= f.label :date %> of Photo <br/>
                        <%= f.text_field :date, data: {provide: 'datepicker', 'date-format':  "yyyy-mm-dd"}   %>
                        <br /><br />
                    </div>
                    <div class="ml-15 float-right">
                        <br /><br />
                        Select People in the Photos<br>
                        <%= f.collection_select(:person_ids, 
                        Person.all.order(:lastName), :id, :unique_person,
                            {}, {multiple: true, include_blank: false} ) %><br />


                    
                    </div>  
                </div>
                Select Location <br />
                <%= f.hidden_field :location_id, id: "location_id" %>
                <%= form_with model: @location do |location_form| %>
                    <%= location_form.collection_select(:location, Location.all.order("name"), 
                    :id,:unique_location,   {selected: @photo.location_id}, {id:  "location_collection"}) %>
                <% end %>
                <br />
                <%= f.submit 'Update', class: 'btn btn-primary'  %> 
                <%= link_to 'Delete', photo_path(@photo), method: :delete, data: {confirm: 'Are you sure you want to delete this Photo?'}, class: 'btn btn-danger' %>
           
        </div>
        <div class="clear"></div><br />
        <h6 >&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Note:  If a person or location is not in the list contact your admin</h6>
    </div>
 <% end %>
