<section>
  <br/> <br/>
  <div>
      <a class="example-image-link" href="assets/pic3.JPG" data-lightbox="family-photos" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image medium-image" src="assets/pic3.JPG" alt=""  /></a>
      <a class="example-image-link" href="assets/pic4.JPG" data-lightbox="family-photos" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image medium-image" src="assets/pic4.JPG" alt=""  /></a>
      <a class="example-image-link" href="assets/image1.JPG" data-lightbox="family-photos" data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image medium-image" src="assets/image1.JPG" alt=""  /></a>
      <a 
        class="example-image-link" 
        href="assets/pic5.JPG" 
        data-lightbox="family-photos" 
        data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image medium-image" src="assets/pic5.JPG" alt="" />
      </a>
  </div>
</section>

<h1>All Our Photos</h1>
<div class="container booyah-box row">
    <% @photos.each do |photo| %>
      <div class="image-box">
      
        <%= link_to(image_tag(url_for(photo.picture.url), class: "photo-image", title: photo.caption), 
        url_for(photo.picture.url),
        data: { lightbox: "example-set", title: photo.caption, }) %>  
          <br/>
          "<%= photo.caption %>"<br/>
          <%= photo.location%><br/>
          <%= photo.date%>
        
        
        </div>
     
    <% end %>
</div>
<div class="clear" ></div>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @tasks %>
  </div>
  <%= will_paginate @tasks, :container => false %>
</div>