<h1>All Our Photos</h1>

<% @photos.each do |photo| %>
    <div class="booyah-box col-8 offset-2">
      <div class="container mt-5 mb-5">

    
                  
      <%= image_tag( photo.picture.url, 
            :width => "100", :class => "mybox mb-2" )  %>
      <%= image_tag( photo.picture.url, 
            :width => "100", :class => "mybox mb-2" )  %>
        
      </div>

      <div class="row">
        <div class=" col-sm-7">
            <%= image_tag( photo.picture.url, 
            data: {"data-lightbox" => "image"}, :class => "style_image img-fluid" )  %>
        </div>
       
        <div>
            <br />
            LOCATION: &nbsp&nbsp<i><%= photo.location %></i><br />
            DATE: &nbsp&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp<i> <%= photo.date  %></i><br />
        </div>
      </div><br />
      <h2><%= photo.caption %></h2> 
    </div>

<% end %>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @tasks %>
  </div>
  <%= will_paginate @tasks, :container => false %>
</div>