<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Photo Details</h1>
  <%= simple_form_for @photo do |f| %>
    <%= f.input :location %>
    <%= f.input :caption %>
     <%= f.input :date %>
    <%= f.input :picture %>

    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>