<script>
  
  $(function() {
    var select_value = $('#location_collection').val();
    $('#location_id').val(select_value);
    $(document).on('change','#location_collection', function(){
       var select_value = $(this).val();
       $('#location_id').val(select_value);
       console.log(select_value );
       console.log("location" );
      
     });
    
  });
</script>


  <h1> Enter Your Photo and Details</h1><br />
 
  <%= simple_form_for @photo do |f| %>
  <div class="booyah-box col-10 offset-1 ml-5">
    <div class="container ">
      <div class="row">
        <div class="entry-box">
            <br/><br />
            <%= f.input :picture %>
            Enter Caption <br />
            <%= f.text_field :caption %><br /><br />
            Enter <%= f.label :date %> of Photo <br/>
            <%= f.text_field :date, data: {:provide => 'datepicker', :'date-format' => "yyyy-mm-dd"}   %>
            <br /><br />
        </div>
        <div class="ml-15 float-right">
            <br/><br />

             <%= f.fields_for :photostar do | p | %> 
               Select People in the Photos<br>
               <%= p.collection_select(:person_ids, 
               Person.all.order(:lastName), :id, :unique_person,
                {include_hidden: false}, {multiple: true} ) %><br />
            <% end %>
        </div>  
      </div>
      Select Location <br/>
      
      <%= form_with model: @location do |location_form| %>
      <%= f.hidden_field :location_id, id: "location_id" %>
          <%= location_form.collection_select(:location, Location.all.order("name"), 
          :id,:unique_location,   {}, {id:  "location_collection"}) %>
      <% end %>
      <br/>
      <%= f.submit 'Create', class: 'btn btn-primary'  %> 
    </div>
    <div class="clear"></div><br />
    <h6 >&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Note:  If a person or location is not in the list contact your admin</h6>
  
  </div>
<% end %>


