<div class="booyah-box col-6 offset-3">
  <h1>All My Photos </h1></div>
<%= link_to 'Add a Photo', new_photo_path, class: 'ml-5 btn btn-primary'  %>
<h6 >&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Note:  Click on Photo to Edit </h6>            

<div class="container booyah-box  row">
    
    <br/><br/>
    
        <% @photos.each do |photo| %>
           <div class="image-box">
                <br/>
                <%= link_to(image_tag(url_for(photo.picture.url), 
                class: "photo-image", title: photo.caption), 
                edit_photo_path(photo.id)) %>  <br/>
                <br/>
                "<%= photo.caption %>"<br/>
                <%= photo.location.name %><br/>
                <%= photo.date%>
            </div>
        <% end %>
    </div>
</div>
<div class="clear" ></div>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @tasks %>
  </div>
  <%= will_paginate @tasks, :container => false %>
</div> 