<!DOCTYPE html>
<html>
  <head>
  <link href="lightbox.css" rel="stylesheet" type="text/css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/lc_lightbox.min.css" rel="stylesheet" type="text/css" />
  <link href="lightbox.min.css" rel="stylesheet" type="text/css" />
  <link href="lc_lightbox.min.css" rel="stylesheet" type="text/css" />
    <title>Myphotos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'MyPhotos', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <%= link_to new_photo_path, class: 'nav-link' do %>
            <i class="fa fa-plus-circle"></i>
            New Photo
            <% end %>
          </li>
         
          <li class="nav-item">
              <%= link_to new_location_path,  class: 'nav-link' do %>
               <% if current_user.try(:admin?) %>
                <i class="fa fa-plus-circle"></i>
               <% end %>
              Locations
              <% end %>
          </li>
         
          <li class="nav-item">
              <%= link_to new_person_path,  class: 'nav-link' do %>
              <% if current_user.try(:admin?) %>
              <i class="fa fa-plus-circle"></i>
              <% end %>
              People
              <% end %>
          </li>
          
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
               <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflate.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn/com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="lightbox-plus-jquery.js" type="text/javascript"></script>
    <script src="lightbox.min.js" type="text/javascript"></script>
    <script src="lib/AlloyFinger/alloy_finger.min.js" type="text/javascript"></script>
    <script src="lc_lightbox.lite.min.js" type="text/javascript"></script>
    <script>
      lc_lightbox('.mybox', {
        wrap_class: 'lcl_face_oc',
        gallery: true
      })
    </script>
    <%= yield %>
  </body>
</html>
