<!DOCTYPE html>
<html>
  <head>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'FamilyPhotos', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">

          <% if current_user %>
            <li class="nav-item">
              <%= link_to user_photos_path(current_user), class: 'nav-link' do %>
              My Photos
              <% end %>
            </li>
          <%end%>

          <% if current_user %>
            <li class="nav-item">
              <%= link_to albums_path, class: 'nav-link' do %>
              Albums
              <% end %>
            </li>
          <%end%>
         
          <li class="nav-item">
              <%= link_to new_location_path,  class: 'nav-link' do %>
               <% if current_user.try(:admin?) %>
                <i class="fa fa-plus-circle"></i>
               <% end %>
              Locations
              <% end %>
          </li>
         
          <li class="nav-item">
              <%= link_to new_person_path,  class: 'nav-link' do %>
              <% if current_user.try(:admin?) %>
              <i class="fa fa-plus-circle"></i>
              <% end %>
              People
              <% end %>
          </li>
          
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
               <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%# <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflate.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn/com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script> %>
 
    <%= yield %>
    

  </body>
</html>
